body {
  padding: 50px;
  font: Helvetica;
  background: #2A2B2A;
}

a {
  color: #EDF4ED;
  text-decoration: none;

}

h1, h3, h4, ul {
  color: #ACC18A;
}

li {
  color: #c6dff0;
}

footer {
  color: #996888;
  font-size: 10px;
}
