body {
  padding: 50px;
  font: Helvetica;
  background: #2A2B2A;
}

a {
  color: #c6dff0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h3, h4 {
  color: #ACC18A;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 5px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  text-decoration: underline;
}

p {
  color: #f9f9f9;
  font-size: 14px;
  text-align: center;
}

.route {
  font-size: 15px;
  color: #c6dff0;
}

.link {
  margin-top: 0px;
}
